<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoUT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	       <div class="container">
           <a href=""   <img src="utc-logo.png"  alt="">    </a>
               <a href="#" class="navbar-brand"> Universidad Tecnológica de Culiacán </a>
            <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Vacantes", post_vacantes_path %></li>
            </ul>

           </div>
        </div>
    </div>

    <div class="container">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= yield %>
    </div>




</body>

</html>
